h1{
    text-align: center;
     color: #ffffff;
     font-size: 100px;
     border: 100px;
     border: blue;
    }
    li{
        margin: 10px 0;
        padding: 15px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
    }
    body{
        background-image: url(https://i.pinimg.com/originals/8e/69/1b/8e691b06570e644a6c311a6f4a25d630.jpg);
        background-size: cover;
    
    }
    